<app-navbar></app-navbar>
<main class="container mt-1">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <h1 class="display-4">Bienvenidos a la pyme Clean & Shine</h1>
            <p class="lead mensaje" *ngIf="this.sesionIniciada; else mensajeComun">Bienvenido {{ usuariologeado?.nombreCompleto}}!</p>
            <ng-template #mensajeComun>
                <p class="lead mensaje">Bienvenidos!</p>
            </ng-template>
            <form [formGroup]="buscarForm" (ngSubmit)="buscarProductos()">
                <div class="row">
                    <label for="nombre" class="form-label">Nombre de producto:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Buscar Productos!</button>
                        
                    </div>
        
                </div>
            </form>
            <br>
            <br>
            <br>
            <div class="row card-container">
                <div class="col-12 col-md-6 mb-4" *ngFor="let product of productos">
                    <div class="card card-content h-100">
                        <div class="card-img-container">
                            <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                        </div>
                        <div class="card-body d-flex flex-column align-items-center text-center">
                            <h5 class="card-title">{{ product.nombre }}</h5>
                            <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                            <b>
                                <p class="card-text">Información del producto</p>
                            </b>
                            <p class="card-text">{{ product.descripcion }}</p>
                            <button class="btn btn-primary btn-add-cart">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>
<br>
<br>
<app-footer></app-footer>