<app-navbar></app-navbar>
<main class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="display-4">Bienvenidos a la pyme Clean & Shine</h1>
            <p class="lead mensaje" *ngIf="this.sesionIniciada; else mensajeComun">Bienvenido {{ usuariologeado?.nombreCompleto}}!</p>
            <ng-template #mensajeComun>
                <p class="lead mensaje">Contenido principal de la página.....</p>
            </ng-template>
        </div>
    </div>
</main>
<br>
<br>
<app-footer></app-footer>