<app-navbaradmin></app-navbaradmin>

<div *ngIf="seccion === 'cuidado_capilar'">
    <h1 class="titulo-pagina">Administrar Cuidado Capilar <button type="submit" class="btn btn-primary btn-save" (click)="abrirModal()">Agregar Producto</button></h1> 
    <br>
    <br>
    <div class="row card-container">
        <div class="col-12 col-md-6 mb-4" *ngFor="let product of products">
            <div class="card card-content h-100">
                <div class="card-img-container">
                    <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                </div>
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h5 class="card-title">{{ product.nombre }}</h5>
                    <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                    <b>
                        <p class="card-text">Información del producto</p>
                    </b>
                    <p class="card-text">{{ product.descripcion }}</p>
                    <hr style="width: 100%;">
                    <h6 class="edit-title" style="font-weight: bold;">Editar Información de producto</h6>
                    <form [formGroup]="productForms[product.id]"
                        (ngSubmit)="onSubmit(productForms[product.id], product)" class="edit-form">
                        <div class="mb-3">
                            <label for="edit-name-{{product.id}}" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="edit-name-{{product.id}}"
                                formControlName="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="edit-price-{{product.id}}" class="form-label">Precio:</label>
                            <input type="text" class="form-control" id="edit-price-{{product.id}}"
                                formControlName="precio">
                        </div>
                        <div class="mb-3">
                            <label for="edit-select-{{product.id}}" class="form-label">Tipo de producto:</label>
                            <select class="form-control" id="edit-select-{{product.id}}" formControlName="tipoProducto">
                                <option *ngFor="let opcion of opciones" [value]="opcion.value">{{ opcion.display }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit-description-{{product.id}}" class="form-label">Descripción:</label>
                            <textarea class="form-control" id="edit-description-{{product.id}}"
                                formControlName="descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="edit-file-{{product.id}}" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="edit-file-{{product.id}}" (change)="onFileChange($event, product.id)" accept="image/*">
                          </div>
                        <button type="submit" class="btn btn-primary btn-save">Guardar</button>
                        <button class="btn btn-danger" (click)="eliminar($event, product)">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="seccion === 'cuidado_ropa'">
    <h1 class="titulo-pagina">Administrar Cuidado de Ropa <button type="submit" class="btn btn-primary btn-save" (click)="abrirModal()">Agregar Producto</button></h1>
    <br><br>
    <div class="row card-container">
        <div class="col-12 col-md-6 mb-4" *ngFor="let product of products">
            <div class="card card-content h-100">
                <div class="card-img-container">
                    <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                </div>
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h5 class="card-title">{{ product.nombre }}</h5>
                    <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                    <b>
                        <p class="card-text">Información del producto</p>
                    </b>
                    <p class="card-text">{{ product.descripcion }}</p>
                    <hr style="width: 100%;">
                    <h6 class="edit-title" style="font-weight: bold;">Editar Información de producto</h6>
                    <form [formGroup]="productForms[product.id]"
                        (ngSubmit)="onSubmit(productForms[product.id], product)" class="edit-form">
                        <div class="mb-3">
                            <label for="edit-name-{{product.id}}" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="edit-name-{{product.id}}"
                                formControlName="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="edit-price-{{product.id}}" class="form-label">Precio:</label>
                            <input type="text" class="form-control" id="edit-price-{{product.id}}"
                                formControlName="precio">
                        </div>
                        <div class="mb-3">
                            <label for="edit-select-{{product.id}}" class="form-label">Tipo de producto:</label>
                            <select class="form-control" id="edit-select-{{product.id}}" formControlName="tipoProducto">
                                <option *ngFor="let opcion of opciones" [value]="opcion.value">{{ opcion.display }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit-description-{{product.id}}" class="form-label">Descripción:</label>
                            <textarea class="form-control" id="edit-description-{{product.id}}"
                                formControlName="descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="edit-file-{{product.id}}" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="edit-file-{{product.id}}" (change)="onFileChange($event, product.id)" accept="image/*">
                          </div>
                        <button type="submit" class="btn btn-primary btn-save">Guardar</button>
                        <button class="btn btn-danger" (click)="eliminar($event, product)">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="seccion === 'limpieza'">
    <h1 class="titulo-pagina">Administrar Limpieza <button type="submit" class="btn btn-primary btn-save" (click)="abrirModal()">Agregar Producto</button></h1>
    <br><br>
    <div class="row card-container">
        <div class="col-12 col-md-6 mb-4" *ngFor="let product of products">
            <div class="card card-content h-100">
                <div class="card-img-container">
                    <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                </div>
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h5 class="card-title">{{ product.nombre }}</h5>
                    <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                    <b>
                        <p class="card-text">Información del producto</p>
                    </b>
                    <p class="card-text">{{ product.descripcion }}</p>
                    <hr style="width: 100%;">
                    <h6 class="edit-title" style="font-weight: bold;">Editar Información de producto</h6>
                    <form [formGroup]="productForms[product.id]"
                        (ngSubmit)="onSubmit(productForms[product.id], product)" class="edit-form">
                        <div class="mb-3">
                            <label for="edit-name-{{product.id}}" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="edit-name-{{product.id}}"
                                formControlName="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="edit-price-{{product.id}}" class="form-label">Precio:</label>
                            <input type="text" class="form-control" id="edit-price-{{product.id}}"
                                formControlName="precio">
                        </div>
                        <div class="mb-3">
                            <label for="edit-select-{{product.id}}" class="form-label">Tipo de producto:</label>
                            <select class="form-control" id="edit-select-{{product.id}}" formControlName="tipoProducto">
                                <option *ngFor="let opcion of opciones" [value]="opcion.value">{{ opcion.display }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit-description-{{product.id}}" class="form-label">Descripción:</label>
                            <textarea class="form-control" id="edit-description-{{product.id}}"
                                formControlName="descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="edit-file-{{product.id}}" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="edit-file-{{product.id}}" (change)="onFileChange($event, product.id)" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary btn-save">Guardar</button>
                        <button class="btn btn-danger" (click)="eliminar($event, product)">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="seccion === 'papel'">
    <h1 class="titulo-pagina">Administrar Papeles <button type="submit" class="btn btn-primary btn-save" (click)="abrirModal()">Agregar Producto</button></h1>
    <br><br>
    <div class="row card-container">
        <div class="col-12 col-md-6 mb-4" *ngFor="let product of products">
            <div class="card card-content h-100">
                <div class="card-img-container">
                    <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                </div>
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h5 class="card-title">{{ product.nombre }}</h5>
                    <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                    <b>
                        <p class="card-text">Información del producto</p>
                    </b>
                    <p class="card-text">{{ product.descripcion }}</p>
                    <hr style="width: 100%;">
                    <h6 class="edit-title" style="font-weight: bold;">Editar Información de producto</h6>
                    <form [formGroup]="productForms[product.id]"
                        (ngSubmit)="onSubmit(productForms[product.id], product)" class="edit-form">
                        <div class="mb-3">
                            <label for="edit-name-{{product.id}}" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="edit-name-{{product.id}}"
                                formControlName="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="edit-price-{{product.id}}" class="form-label">Precio:</label>
                            <input type="text" class="form-control" id="edit-price-{{product.id}}"
                                formControlName="precio">
                        </div>
                        <div class="mb-3">
                            <label for="edit-select-{{product.id}}" class="form-label">Tipo de producto:</label>
                            <select class="form-control" id="edit-select-{{product.id}}" formControlName="tipoProducto">
                                <option *ngFor="let opcion of opciones" [value]="opcion.value">{{ opcion.display }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit-description-{{product.id}}" class="form-label">Descripción:</label>
                            <textarea class="form-control" id="edit-description-{{product.id}}"
                                formControlName="descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="edit-file-{{product.id}}" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="edit-file-{{product.id}}" (change)="onFileChange($event, product.id)" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary btn-save">Guardar</button>
                        <button class="btn btn-danger" (click)="eliminar($event, product)">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="usuarioModalLabel">Crear Prodcuto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="crearProdcutoForm" (ngSubmit)="submitForm()">
                    <div class="mb-3">
                            <label for="nombreProducto" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreProducto"
                                formControlName="nombreProducto">
                        </div>
                        <div class="mb-3">
                            <label for="precioProducto" class="form-label">Precio:</label>
                            <input type="text" class="form-control" id="precioProducto"
                                formControlName="precioProducto">
                        </div>
                        <div class="mb-3">
                            <label for="tipoProducto" class="form-label">Tipo de producto:</label>
                            <select class="form-control" id="tipoProducto" formControlName="tipoProducto">
                                <option *ngFor="let opcion of opciones" [value]="opcion.value">{{ opcion.display }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="descripcionProducto" class="form-label">Descripción:</label>
                            <textarea class="form-control" id="descripcionProducto"
                                formControlName="descripcionProducto"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="imagenProducto" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="imagenProducto" (change)="onFileChangeCreate($event)" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary btn-save">Guardar</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>