<app-navbar></app-navbar>
<main>
    <div *ngIf="this.seccion === 'cuidado_capilar'">
        <h1 class="titulo-pagina">Cuidado Capilar</h1>
        <br>
        <br>
        <div class="row card-container">
            <div class="col-12 col-md-6 mb-4" *ngFor="let product of productos">
                <div class="card card-content h-100">
                    <div class="card-img-container">
                        <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                    </div>
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <h5 class="card-title">{{ product.nombre }}</h5>
                        <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                        <b>
                            <p class="card-text">Información del producto</p>
                        </b>
                        <p class="card-text">{{ product.descripcion }}</p>
                        <button class="btn btn-primary btn-add-cart">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="this.seccion === 'cuidado_ropa'">
        <h1 class="titulo-pagina">Cuidado de Ropa</h1>
        <br>
        <br>
        <div class="row card-container">
            <div class="col-12 col-md-6 mb-4" *ngFor="let product of productos">
                <div class="card card-content h-100">
                    <div class="card-img-container">
                        <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                    </div>
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <h5 class="card-title">{{ product.nombre }}</h5>
                        <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                        <b>
                            <p class="card-text">Información del producto</p>
                        </b>
                        <p class="card-text">{{ product.descripcion }}</p>
                        <button class="btn btn-primary btn-add-cart">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.seccion === 'limpieza'">
        <h1 class="titulo-pagina">Productos de Limpeiza</h1>
        <br>
        <br>
        <div class="row card-container">
            <div class="col-12 col-md-6 mb-4" *ngFor="let product of productos">
                <div class="card card-content h-100">
                    <div class="card-img-container">
                        <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                    </div>
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <h5 class="card-title">{{ product.nombre }}</h5>
                        <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                        <b>
                            <p class="card-text">Información del producto</p>
                        </b>
                        <p class="card-text">{{ product.descripcion }}</p>
                        <button class="btn btn-primary btn-add-cart">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="this.seccion === 'papel'">
        <h1 class="titulo-pagina">Papeles</h1>
        <br>
        <br>
        <div class="row card-container">
            <div class="col-12 col-md-6 mb-4" *ngFor="let product of productos">
                <div class="card card-content h-100">
                    <div class="card-img-container">
                        <img [src]="product.urlImg" class="card-img-top fade-in" [alt]="product.nombre">
                    </div>
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <h5 class="card-title">{{ product.nombre }}</h5>
                        <p class="card-text precio">Precio: {{ product.precio | currency:'':'symbol':'1.0-0' }}</p>
                        <b>
                            <p class="card-text">Información del producto</p>
                        </b>
                        <p class="card-text">{{ product.descripcion }}</p>
                        <button class="btn btn-primary btn-add-cart">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>